@page "/borrowedlist"

@using Tier1User.Data
@inject Model model


<h1>Borrowed Items</h1>

@if (model.arrayOfBorrwedItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                
                <th>Title</th>
                <th>Type</th>
                <th>Author</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in model.arrayOfBorrwedItems)
            {
            <tr>
                <td>@model.GetItemsNames(item.ItemId)</td>
                <td>@model.GetItemsTypes(item.ItemId)</td>
                <td>@model.GetItemsAuthors(item.ItemId)</td>
                <td>@item.ReturnDate</td>

            </tr>
            }
        </tbody>
    </table>
}

@code {

    Item[] items;

    /*protected override async Task OnInitializedAsync()
    {
        items = await model.GetItemAsync(DateTime.Now);
    }*/
}