@page "/finelist"

@using Microsoft.AspNetCore.Components.Authorization
@using Tier1User.Data
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Model model


<h1>Someone is in trouble</h1>

<p>The Items are in the code, not in the DB</p>

@if (model.arrayOfFines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                
                <th>Title</th>
                <th>Type</th>
                <th>Author</th>
                <th>Return Date</th>
                <th>Fine</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in model.arrayOfFines)
            {
            <tr>
                <td>@model.GetItemsNames(item.ItemId)</td>
                <td>@model.GetItemsTypes(item.ItemId)</td>
                <td>@model.GetItemsAuthors(item.ItemId)</td>
                <td>@item.ReturnDate</td>
                <td>Pay back da money</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    Item[] items;

    /*protected override async Task OnInitializedAsync()
    {
        items = await model.GetItemAsync(DateTime.Now);
    }*/
}
