@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager goTo
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Tier1User.Data
@inject Model model


<h3>LoginView</h3>

<div class="login">

    <div class="content px-4">

        
        <h5>Enter Your Email</h5>
        <input placeholder="Email" type="email" @bind="emailInput" />
        <h5>Enter Your Password</h5>
        <input placeholder="Password" type="password" @bind="passwordInput" />

        <button  @onclick="checkData">Submit</button>
    </div>
</div>




@code {

    string emailInput = string.Empty;
    string passwordInput = string.Empty;



    public void checkData()
    {

        bool isValid = model.checkUser(emailInput, passwordInput).Result;

        if (isValid == true)
        {
            goTo.NavigateTo("");
        }

    }


}
