@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@using Tier1User.Data
@inject NavigationManager goTo
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Model model
@inject IJSRuntime jsRuntime


<h3>LoginView</h3>

<div class="login">

    <div class="content px-4">
        @if(isValid == false)
        {
            <div class="alert alert-danger" role="alert" @on>
                Wrong username or password
            </div> 
        }
        
        <h5>Enter Your Email</h5>
        <input placeholder="Email" type="email" @bind="emailInput" />
        <h5>Enter Your Password</h5>
        <input placeholder="Password" type="password" @bind="passwordInput" />

        <button @onclick="checkData">Submit</button>
    </div>

</div>




@code {

    string emailInput = string.Empty;
    string passwordInput = string.Empty;
    bool isValid = true;



    public void checkData()
    {

        isValid = model.CheckUser(emailInput, passwordInput).Result;

        if (isValid == true)
        {
            goTo.NavigateTo("");
        }
        

    }


}
