@inherits LayoutComponentBase
@inject Model model;


@if (model.LoggedInCheck() == true)
{
    <div class="sidebar">
        <NavMenu />
    </div>
}
else
{
    <div class="sidebar">
        <NavMenuNotLoggedIn />
    </div>
}




<div class="main">
    @if (model.LoggedInCheck() == false)
    {
        <div class="top-row px-4">
            <a href="/login">Log In</a>
            <a href="/register">Register</a>
        </div>
    }
    <div class="content px-4">
        @Body
    </div>
</div>

@code
{

}